/* write your css here */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Mulish", sans-serif;
  background-color: white;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  text-align: center;
  background-image: radial-gradient(ellipse at bottom , rgb(65, 40, 82) 20px, rgb(16, 24, 38) 380px);
   width: 95%;
  height: 90vh;
  padding: 70px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container div {
  font-size: 38px;

  width: 50%;
  margin-bottom: 3px;
}
.container p {
  width: 44%;
  font-size: 14px;
  line-height: 1.5rem;
  margin-bottom:30px;
}
.container input[type="email"] {
  padding: 10px;
  border-radius: 5px;
  margin-right: 10px;
  border: none;
  width: 280px;
  background-color: transparent;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  box-shadow: 0 1px 3px rgb(49, 32, 64);
}
.container button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  color: rgb(49, 32, 64);
  background-color: 101826;
  cursor: pointer;
}
.container button:hover {
  background-color: #52355b;
  color: white;
}
